* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: red;
    width: 100vw;
}

header{
    height: 100px;
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1440px;
    align-items: center;
    display: flex;
}

header .container {
    height: 100px;
}

.logo{
    width: 100px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logoimg {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.menu ul,
.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active{
    border-bottom: 5px solid #B28756;
    color: #CCC;
}

.banner {
    height:calc(100vh - 100px);
    background-image: url(../../media/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 700;   
    text-transform: uppercase;
}

.banner .slidearea h1{
    font-size: 48px;
}

.banner .slidearea h1:nth-child(2){
    color: #B28756;
}

.banner .slidearea h2{
    margin-top: 20px;
}

.button{
    display: block;
    background-color: #B28756;
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    padding-left: 23px;
    padding-right: 23px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 600;
}

.banner .sliderPointer{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    height: 12px;
    width: 12px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: #B28756;
}

.default {
    padding: 50px 0 50px 0;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default .sectionTitle,
.default .sectionDesc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .sectionTitle{
    font-size: 20px;
}

.default .sectionDesc{
    font-size: 10px;
    padding-top: 10px;
    margin-bottom: 40px;
    color: #9e9e9e
}

.default.lightBg .sectionTitle,
.default.lightBg .sectionBody{
    color: #000;
}

.lightBg {
    background-color: #f6f6f6;
}

.darkBg{
    background-color: #000;
}

.default.darkBg .sectionTitle,
.default.darkBg .sectionBody{
    color: #FFF;
}

.default .container {
    justify-content: center;
}



/*Specifics*/

.sectionBody {
    display: flex;
    width: 100%;
    font-size: 10px;
}

.aboutUs--Left{
    flex: 1;
    text-align: justify;
    line-height: 18px;
}

.aboutUs--Right{
    width: 40%;
    padding-left: 20px;
    text-align: center;
}

.aboutUs--Left a{
    display: inline-block;
}

.aboutUs--Right img{
    width: 100%;
    box-shadow: 0px 4px 10px #333;
}

.services{
    color: #FFF;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    flex: 1;
    flex-basis: 150px;
    text-align: center;
    border-right: 1px solid #333;
    padding: 10px;
}

.service:first-child{
    border-left: 1px solid #333;
}

.service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.service .marginCorrection{
    margin-top: 12px;
}

.service p{
    font-size: 10px;
    margin-top: 15px;
    color: #999;
}