* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: red;
    width: 100vw;
}

header{
    height: 100px;
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1440px;
    align-items: center;
    display: flex;
}

header .container {
    height: 100px;
}

.logo{
    width: 100px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logoimg {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.menu ul,
.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active{
    border-bottom: 5px solid #B28756;
    color: #CCC;
}

.banner {
    height:calc(100vh - 100px);
    background-image: url(../../media/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 700;   
    text-transform: uppercase;
}

.banner .slidearea h1{
    font-size: 48px;
}

.banner .slidearea h1:nth-child(2){
    color: #B28756;
}

.banner .slidearea h2{
    margin-top: 20px;
}

.button{
    background-color: #B28756;
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    padding-left: 23px;
    padding-right: 23px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.banner .sliderPointer{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    height: 12px;
    width: 12px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: #B28756;
}

.default {
    padding: 50px 0 50px 0;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default .sectionTitle,
.default .sectionDesc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .sectionTitle{
    font-size: 20px;
}

.default .sectionDesc{
    font-size: 10px;
    padding-top: 10px;
    margin-bottom: 40px;
    color: #9e9e9e
}

.default.lightBg .sectionTitle,
.default.lightBg .sectionBody{
    color: #000;
}

.lightBg {
    background-color: #ededed;
}

.darkBg{
    background-color: #000;
}

.lighterBg{
    background-color: #FFF;
    border-top: 2px solid #d2d2d2;
    border-bottom: 2px solid #d2d2d2;
}

.default.darkBg .sectionTitle,
.default.darkBg .sectionBody{
    color: #FFF;
}

.default .container {
    justify-content: center;
}

input, textarea {
    border: none;
    background-color: transparent;
}

input::placeholder,
textarea::placeholder{
    text-transform: uppercase;
}

textarea{
    resize: none;
}



/*Specifics*/

.sectionBody {
    display: flex;
    width: 100%;
    font-size: 10px;
}

.aboutUs--Left{
    flex: 1;
    text-align: justify;
    line-height: 18px;
}

.aboutUs--Right{
    width: 40%;
    padding-left: 20px;
    text-align: center;
}

.aboutUs--Left a{
    display: inline-block;
}

.aboutUs--Right img{
    width: 100%;
    box-shadow: 0px 4px 10px #333;
}

.services{
    color: #FFF;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    flex: 1;
    flex-basis: 150px;
    text-align: center;
    border-right: 1px solid #333;
    padding: 10px;
}

.service:first-child{
    border-left: 1px solid #333;
}

.service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.service .marginCorrection{
    margin-top: 12px;
}

.service p{
    font-size: 10px;
    margin-top: 15px;
    color: #999;
}

/*Projects*/

.sectionProjects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.projectsFilters ul {
    display: flex;
    list-style: none;
    background-color: #e0dcdc;
    padding: 2px 20px;
    padding-top: 5px;
    border: 1px solid #c0bebe;
    border-radius: 30px;
}

.projectsFilters ul li {
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    border-right: 1px solid #c0bebe;
    cursor: pointer;
    color: #555;
    border-bottom: 3px solid transparent;
}

.projectsFilters ul li:last-child{
    border-right: 0px solid transparent;
}

.projectsFilters ul li:hover,
.projectsFilters ul li.active{
    border-bottom: 3px solid #B28756;
}

.projectsPhotos{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionProjectsPhoto{
    width: 200px;
}

.projectsPhotoArea{
    margin: 10px;
    width: 180px;
    height: 120px;
}

.projectsPhotoArea img{
    width: inherit;
    height: inherit;
}

.projectsPhotoInfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    display: none;
    cursor: default;
}

.projectsPhotoArea:hover .projectsPhotoInfo{
    display: flex; 
}

.projectsPhotoInfo h5{
    font-size: 16px;
    font-weight: 600;
}

.projectsPhotoInfo p{
    font-size: 10px;
    margin-top: 12px;
    text-align: center;
}

.sectionProjects a{
    text-transform: uppercase;
}

/*Our team*/

.bg-team{
    background-image: url(../../media/bg.jpg);
    display: block;
    padding: 0;
}

.sectionTeamArea{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTeam{
    overflow: hidden;
    display: flex;
    max-width: 780px;
}

.sectionTeam .sliders {
    width: 1000vw;
    height: 100%;
    flex-wrap: nowrap;
    display: flex;
}

.sectionTeam .slide {
    width: 220px;
    height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin: 20px;
}

.sectionTeam .slidearea{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-weight: 700;   
    text-transform: uppercase;
    padding: 15px;
}

.sectionTeamArea .sliderPointer{
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTeamArea .pointer {
    height: 12px;
    width: 12px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.sectionTeamArea .pointer.active{
    background-color: #B28756;
}

.teamAvatar{
    height: 120px;
    margin-bottom: 30px;
}

.teamName{
    font-weight: 600;
}

.teamRole{
    font-weight: 400;
    margin-top: 5px;
    color: #616161;
}

.teamSocial{
    margin-top: 15px;
    display: flex;
}  

.teamSocial a{
    display: inline-flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #CCC;
    margin-right: 7px;
}

.teamSocial a:hover{
    background-color: #B28756;
}

/*Clients*/

.sectionClientBody,
.sectionClientBody .slide{
    width: 100%;
}

.sectionClientBody .sliders{
    display: flex;
    flex-direction: row;
}

.sectionClientBody .slide{
    display: flex;
    overflow-x: hidden;
    text-align: center;
    min-width: 100%;
}

.sectionClientBody .slidearea{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clientAvatar{
    height: 120px;
    margin-bottom: 30px;
}

.clientName{
    font-weight: 600;
}

.clientRole{
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 30px;
}

.sectionClientBody .quote{
    margin-bottom: 30px;
}

.sectionClientBody .sliders{
    margin-bottom: 40px;
}

.sectionClientBody p{
    font-size: 11px;
    width: 60%;
    line-height: 20px;
}


.sectionClientBody .sliderPointer{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionClientBody .pointer {
    height: 12px;
    width: 12px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.sectionClientBody .pointer.active{
    background-color: #B28756;
}

/*Award section*/

.awardSection{
    padding: 10px;
}

.awardSectionBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.awardSectionBody img{
    margin: 20px 20px;
}

/*Price section*/

.price {
    width: 200px;
    height: 300px;
    background-color: #FFF;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.priceSection .sectionBody{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price h4{
    font-size:14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.price h1{
    font-size: 22px;
    margin-bottom: 10px;
}

.price h5{
    font-size: 10px;
    color: #aeaeae;
    font-weight: 300;
    margin-bottom: 20px;
}

.price h1,
.price h4,
.price h5,
.price .button{
    text-transform: uppercase;
}

.trace{
    height: 0.5px;
    width: 8px;
    background: #000;
    margin: 10px 0;
}

.price .button{
    padding: 12px 30px;
    background-color: #373737;
    transition: 0.2s;
}

.price .button:hover{
    background-color: #B28756;
}

/* features */

.features{
    overflow: hidden;
    display: flex;
}

.features .slide{
    width: 100%;
}

.features .sliders{
    display: flex;
    flex-direction: row;
}

.features .slide{
    display: flex;
    overflow-x: hidden;
    text-align: center;
    min-width: 100%;
}

.features .slidearea{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fatures .sliderarea .sectionBody{
    display: flex;
}

.features--Left{
    flex: 1;
    padding: 20px;
}

.features--Left img{
    width: 70%;
    max-width: auto;
}
.features--Right{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features .sliderPointer{
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .pointer {
    height: 12px;
    width: 12px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.features .pointer.active{
    background-color: #B28756;
}

.features hr{
    margin: 40px 0 30px;
    width: 70%;
}

.features-apresentation{
    display: flex;
    text-align: justify;
    margin-bottom: 20px;
}

.features-apresentation img{
    margin-right: 15px;
}

.features-apresentation h2{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.features-apresentation p{
    font-size: 12px;
    margin-right: 30px;
    line-height: 22px;
}

.features-apresentation p,
.features-apresentation span{
    color: #8f8f8f;
}

.features-apresentation div{
    display: block;
}

.features-apresentation span{
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

/* facts */

.facts{
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fact{
    width: 250px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.fact h5{
    font-size: 30px;
    color: #B28756;
}

.fact h6{
    font-size: 20px;
    text-transform: uppercase;
}

.fact hr{
    width: 15px;
    height: 2px;
    background-color: #7e7e7e;
    border: none;
    margin-top: 10px;
    margin-bottom: 7px;
}

.fact p{
    margin-top: auto;
    font-size: 10px;
    line-height: 16px;
    color: #7e7e7e;
}

/*tell about us */

.tellAboutUs{
    display: flex;
    color: #aeaeae;
    margin: 15px 0;
}

.tellAboutUs div{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.tellAboutUs div:first-child{
    margin-right: 50px;
    text-transform: uppercase;
}

.tellAboutUs a{
    padding: 7px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
}

.tellAboutUs span{
    font-size: 12px;
    margin-right: 40px;
}

.share {
    margin-right: 15px;
}

.twitter{
    background-color: #33c5ee
}

.linkedin{
    background-color: #127db5;
}

.facebook{
    background-color: #346198;
}

.googleplus {
    background-color: #e64238;
}

.pinterest{
    background-color: #b91b2a;
}

/* CONTACT US */

.contactUs form{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contactUs input,
.contactUs textarea{
    width: 100%;
    border: 2px solid transparent;
    border-bottom: 2px solid #aeaeae;
    margin: 0 20px 40px;
    padding-bottom: 10px;
    color: #9f9f9f;
}

.contactUs input:focus,
.contactUs textarea:focus{  
    outline: none;
    
}

.contactUs textarea{
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.contactUs input:first-child,
.contactUs input:nth-child(2){
    width: 40%
}

.contactUs input::placeholder,
.contactUs textarea::placeholder{
    color: #9f9f9f
}

.contactUs input::placeholder{
    font-size: 12px;
}

.contactUs textarea::placeholder{
    font-size: 14px;
    transform:translateY(calc(100px - 30px))
}

.contactUs textarea:focus::placeholder{
    color: #ededed;
}

.contactUs button{
    margin: 40px auto 0; 
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border: none;  
    padding: 12px 35px;
    background-color: #B28756;
    border-radius: 30px;
    font-size: 12px;
}

/* LEMBRAR DE AJUSTAR O SOME FACTS PARA O CENTRO */